<!DOCTYPE html>
<html>
<head>
  <title>TWITING</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <span href="javascript:void(0)" class="glyphicon glyphicon-remove" onclick="closeNav()" id="close"></span>
   <% if user_signed_in? %>
     <%= image_tag current_user.avatar, id:"dpnav" %>
     <p id="dpname">@<%= current_user.username %></p>
     <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
     <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
   <% else %>
     <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
     <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
   <% end %>
</div>
 

 <div id="main">
    <%= yield %>
 </div>  


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
